body {
    color: #333;
    margin: 6em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #437ABE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin-left: -1em;
}

h1 {
    border-bottom: 1px #CCC solid;
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}
#top {
    border: none;
}
div.indexColumn {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

@media (max-width: 700px) {
    div.indexColumn {
        display: block;
        width: 100%;
        vertical-align: top;
    }


.indexHeader {
    padding-left: 3em;
}
div, .section {
    border: none;
}