// Karma example configuration file
// NOTE: To configure Karma tests, do the following:
//       1.  Copy this file and rename the copy with a .conf.js extension, for example:  karma.conf.js
//       2.  Configure the properties below in your conf.js copy
//       3.  Run your tests

module.exports = function(config) {
  config.set({
    // base path, that will be used to resolve files and exclude
    basePath: '',

    frameworks: ['qunit'],

    // Set autoWatch to true if you plan to run `grunt karma` continuously, to automatically test changes as you make them.
    autoWatch: false,

    // Setting singleRun to true here will start up your specified browsers, run tests, and then shut down the browsers.  Helpful to have in a CI environment, where you don't want to leave browsers running continuously.
    singleRun: true,

    // Start these browsers, currently available:
    // - Chrome
    // - ChromeCanary
    // - Firefox
    // - Opera
    // - Safari (only Mac)
    // - PhantomJS
    // - IE (only Windows)
    // Example usage:
    // browsers: ['Chrome','Firefox','Safari'],
    browsers: [],

    // List of files / patterns to load in the browser
    // Add any new src files to this list.
    // If you add new unit tests, they will be picked up automatically by Karma,
    // unless you've added them to a nested directory, in which case you should
    // add their paths to this list.
    files: [
      '../test/karma-qunit-shim.js',
      '../src/js/core.js',
      '../src/js/core-object.js',
      '../src/js/events.js',
      '../src/js/lib.js',
      '../src/js/component.js',
      '../src/js/button.js',
      '../src/js/slider.js',
      '../src/js/menu.js',
      '../src/js/player.js',
      '../src/js/control-bar/control-bar.js',
      '../src/js/control-bar/play-toggle.js',
      '../src/js/control-bar/time-display.js',
      '../src/js/control-bar/fullscreen-toggle.js',
      '../src/js/control-bar/progress-control.js',
      '../src/js/control-bar/volume-control.js',
      '../src/js/control-bar/mute-toggle.js',
      '../src/js/control-bar/volume-menu-button.js',
      '../src/js/poster.js',
      '../src/js/loading-spinner.js',
      '../src/js/big-play-button.js',
      '../src/js/media/media.js',
      '../src/js/media/html5.js',
      '../src/js/media/flash.js',
      '../src/js/media/loader.js',
      '../src/js/tracks.js',
      '../src/js/json.js',
      '../src/js/setup.js',
      '../src/js/plugins.js',
      '../src/js/util.js',
      '../test/unit/*.js'
    ],

    plugins: [
      'karma-qunit',
      'karma-chrome-launcher',
      'karma-firefox-launcher',
      'karma-ie-launcher',
      'karma-opera-launcher',
      'karma-phantomjs-launcher',
      'karma-safari-launcher'
    ],

    // list of files to exclude
    exclude: [

    ],


    // test results reporter to use
    // possible values: 'dots', 'progress', 'junit'
    reporters: ['progress'],


    // web server port
    port: 9876,


    // cli runner port
    runnerPort: 9100,


    // enable / disable colors in the output (reporters and logs)
    colors: true,


    // level of logging
    // possible values: config.LOG_DISABLE || config.LOG_ERROR || config.LOG_WARN || config.LOG_INFO || config.LOG_DEBUG
    //logLevel: config.LOG_INFO,

    // If browser does not capture in given timeout [ms], kill it
    captureTimeout: 60000
  });
};
