<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Video.js Plugin Example</title>

  <!-- Add ES5 shim and sham for IE8 -->
  <script src="../build/temp/ie8/videojs-ie8.js"></script>

  <!-- Load the source files -->
  <link href="../build/temp/video-js.css" rel="stylesheet" type="text/css">
  <script src="../build/temp/video.js"></script>

  <!-- Set the location of the flash SWF -->
  <script>
    videojs.options.flash.swf = '../build/temp/video-js.swf';
  </script>

</head>
<body>
  <p style="background-color:#eee; border: 1px solid #777; padding: 10px; font-size: .8em; line-height: 1.5em; font-family: Verdana, sans-serif;">This page shows you how to create, register and initialize a Video.js plugin.</p>

  <video id="vid1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264" poster="http://vjs.zencdn.net/v/oceans.png">
    <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
    <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
    <p>Video Playback Not Supported</p>
  </video>

  <script>
    (function() {
      var vid1, progressed;

      // create a really simple plugin
      // this one just logs the buffered percentage to the console whenever
      // more data is downloaded
      progressed = function(options) {
        this.on('progress', function(e) {
          console.log(this.bufferedPercent());
        });
      };

      // register the plugin
      videojs.plugin('progressed', progressed);

      // initialize it
      vid1 = videojs('vid1');
      vid1.progressed();
    })();
  </script>

</body>
</html>
