export class TestCustomElement extends HTMLElement {

  constructor() {
    super();

    const shadowRoot = this.attachShadow({ mode: 'closed' });

    const styleLinkElem = document.createElement('link');

    styleLinkElem.setAttribute('rel', 'stylesheet');
    styleLinkElem.setAttribute('href', '../dist/video-js.css')
    shadowRoot.append(styleLinkElem);

    const containerElem = document.createElement('div');

    containerElem.setAttribute('data-vjs-player', '');
    shadowRoot.appendChild(containerElem);

    const videoElem = document.createElement('video');

    videoElem.setAttribute('preload', 'auto');
    videoElem.setAttribute('width', 640);
    videoElem.setAttribute('height', 260);
    containerElem.appendChild(videoElem);

    const sourceElem = document.createElement('source');

    sourceElem.setAttribute('src', 'https://vjs.zencdn.net/v/oceans.mp4');
    sourceElem.setAttribute('type', 'video/mp4');
    videoElem.appendChild(sourceElem);

    this.innerPlayer = videojs(videoElem);

    containerElem.addEventListener('click', () => {
      if (this.innerPlayer.paused()) {
        this.innerPlayer.play();
      }
      else {
        this.innerPlayer.pause();
      }
    });
  }
}

window.customElements.define('test-custom-element', TestCustomElement);
