<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Video.js Sandbox</title>
  <link href="../dist/video-js.css" rel="stylesheet" type="text/css">
  <script src="../dist/video.js"></script>
  <script type="module" src="./shadow-dom-custom-elem.js"></script>
  <link rel="icon" href="data:;base64,=">
</head>
<body>
  <div style="background-color:#eee; border: 1px solid #777; padding: 10px; margin-bottom: 20px; font-size: .8em; line-height: 1.5em; font-family: Verdana, sans-serif;">
    <p>You can use /sandbox/ for writing and testing your own code. Nothing in /sandbox/ will get checked into the repo, except files that end in .example (so don't edit or add those files). To get started run `npm start` and open the index.html</p>
    <pre>npm start</pre>
    <pre>open http://localhost:9999/sandbox/index.html</pre>
  </div>

  <test-custom-element id="customElement1"></test-custom-element>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      var customElem = document.getElementById('customElement1');
      var innerPlayer = customElem.innerPlayer;
      innerPlayer.log('Shadow DOM inner player created', innerPlayer);
    });
  </script>

</body>
</html>
