# editorconfig.org - unify code style
# plugins for text editors: editorconfig.org/#download
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true