.DS_Store
build/files/*
build/temp/*
docs/api/*
dev.html
projects
.zenflow-log
test/*.map
.bunyipconfig.js
.s3config.json
.eslintcache

node_modules
npm-debug.log*

sandbox/*
!sandbox/*.example

*.swp
*.swo

*.orig

*results.xml
*.log

test/dist/*
.coveralls.yml
.sass-cache

dist/*
es5/*

.idea/

core.js
core.es.js

# Ignore Chinese clones for now.
lang/zh-Han*.json

# netlify deploy
deploy/
