build/files/*
docs/api/*
.zenflow-log
.bunyipconfig.js
.s3config.json

sandbox/*
!sandbox/*.example

# ignore any Karma conf.js files in the test/ directory
test/*.conf.js

*.swp
*.swo

*.orig

*results.xml
