<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>HTML5 Video Player</title>

  <link href="design/video-js.css" rel="stylesheet" type="text/css">

  <!--[if IE]>
    <script src="https://getfirebug.com/releases/lite/1.3/firebug-lite.js"></script>
  <!--<![endif]-->

  <script src="src/core.js"></script>
  <script src="src/lib.js"></script>
  <script src="src/json.js"></script>

  <script src="src/component.js"></script>
  <script src="src/player.js"></script>
  <script src="src/tech.js"></script>
  <script src="src/controls.js"></script>
  <script src="src/events.js"></script>
  <script src="src/tracks.js"></script>
  
  <script src="src/setup.js"></script>
  
  <script type="text/javascript" charset="utf-8">
    // Easy access to test Flash over HTML5. Add ?flash to URL
    if (window.location.href.indexOf("?flash") !== -1) {
      _V_.options.techOrder = ["H5swf"]
    }
  </script>

</head>
<body>

  <video id="vid1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup='{}'>
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'>
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'>
    <p>Video Playback Not Supported</p>
  </video>

  <script>
    vid = document.getElementById("vid1");
  </script>

</body>
</html>
