.video-js .vjs-big-play-button {
  font-size: 3em;
  line-height: $big-play-button--height;
  height: $big-play-button--height;
  width: $big-play-button--width; // Firefox bug: For some reason without width the icon wouldn't show up. Switched to using width and removed padding.
  display: block;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 2px solid $primary-text;

  /* Need a slightly gray bg so it can be seen on black backgrounds */
  @include background-color-with-alpha($primary-bg, $big-play-button--transparency);
  @include border-radius(0.3em);
  @include transition(all 0.4s);

  @extend .vjs-icon-play;

  // Since the big play button doesn't inherit from vjs-control, we need to specify a bit more than
  // other buttons for the icon.
  &:before {
    @extend %icon-default;
  }
}

// Allow people that hate their poster image to center the big play button.
.video-js.vjs-big-play-centered .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-top: -($big-play-button--height / 2);
  margin-left: -($big-play-button--width / 2);
}

// Hide if controls are disabled, the video is playing, or native controls are used.
.video-js.vjs-controls-disabled .vjs-big-play-button,
.video-js.vjs-has-started .vjs-big-play-button,
.video-js.vjs-using-native-controls .vjs-big-play-button {
  display: none;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
  outline: 0;
  border-color: $primary-text;

  @include background-color-with-alpha($secondary-bg, 0.75);
  @include transition(all 0s);
}

.vjs-error .vjs-big-play-button {
  display: none;
}
