.video-js .vjs-fullscreen-control {
  width: 3.8em;
  cursor: pointer;
  @include flex(none);
}
.video-js .vjs-fullscreen-control {
  @extend .vjs-icon-fullscreen-enter;
}
// Switch to the exit icon when the player is in fullscreen
.video-js.vjs-fullscreen .vjs-fullscreen-control {
  @extend .vjs-icon-fullscreen-exit;
}
