.video-js.vjs-live .vjs-time-control,
.video-js.vjs-live .vjs-time-divider,
.video-js.vjs-live .vjs-progress-control {
  display: none;
}

.video-js .vjs-live-control {
  display: none;
  font-size: 1em;
  line-height: 3em;
}
