// css for the old live ui, assumes that the progress bar is hidden
.video-js .vjs-live-control {
  @include display-flex(flex-start);
  @include flex(auto);
  font-size: 1em;
  line-height: 3em;
}

.vjs-no-flex .vjs-live-control {
  display: table-cell;
  width: auto;
  text-align: left;
}

// css for the new live ui
.video-js.vjs-liveui .vjs-live-control {
  cursor: pointer;
  @include flex(none);
  display: inline-flex;
  height: 100%;
  margin-left: 0.3em;
}

// only show as a pointer when we will seek to live edge
.vjs-live-control.vjs-control.vjs-at-live-edge {
  cursor: auto;
}

.vjs-live-circle {
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.3em;
  background: radial-gradient(#808080, #666666);
}

.vjs-live-control.vjs-control.vjs-at-live-edge .vjs-live-circle {
  background: radial-gradient(#ff0000, #990000);
}
