.video-js .vjs-progress-control {
  @include flex(auto);
  @include order(2);
  @include display-flex(center);

  @include transition(all 0.4s);
}

/* Box containing play and load progresses. Also acts as seek scrubber. */
.video-js .vjs-progress-holder {
  @include flex(auto);
  height: 0.3em;
}

/* Progress Bars */
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  /* updated by javascript during playback */
  width: 0;
  /* Needed for IE6 *///
  left: 0;
  top: 0;
}

.video-js .vjs-play-progress {
  /*
  Using a data URI to create the white diagonal lines with a transparent
  background. Surprisingly works in IE8.
  Created using http://www.patternify.com
  Changing the first color value will change the bar color.
  Also using a paralax effect to make the lines move backwards.
  The -50% left position makes that happen.
  */
  background-color: $primary-text;
}
.video-js .vjs-load-progress {
  background: rgb(100, 100, 100) /* IE8- Fallback */;
  background: rgba(255, 255, 255, 0.2);
}

/* there are child elements of the load progress bar that represent the
specific time ranges that have been buffered */
.video-js .vjs-load-progress div {
  background: rgb(120, 120, 120) /* IE8- Fallback */;
  background: rgba(255, 255, 255, 0.1);
}

.video-js .vjs-slider-handle.vjs-seek-handle {
  width: 1.5em;
  height: 100%;
  top: -0.3em;
}
