.video-js .vjs-slider {
  outline: 0;
  position: relative;
  cursor: pointer;
  padding: 0;

  @include background-color-with-alpha($secondary-bg, 0.9);
}

.video-js .vjs-slider-handle {
  position: absolute;
}

.video-js .vjs-slider-horizontal .vjs-slider-handle {
  left: 0;
  top: -0.3em;
}

.video-js .vjs-slider-vertical .vjs-slider-handle {
  left: -0.3em;
  bottom: 0;
}

.video-js .vjs-slider-handle:before {
  content: $icon-circle;
  font-family: $icon-font-family;
  font-size: 1em;
  line-height: 1;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}
