.video-js .vjs-slider {
  outline: 0;
  position: relative;
  cursor: pointer;
  padding: 0;

  @include background-color-with-alpha($secondary-bg, 0.9);
}

.video-js .vjs-slider:focus {
  text-shadow: 0em 0em 1em rgba($primary-text, 1);

  @include box-shadow(0 0 1em $primary-text);
}
