.video-js .vjs-time-controls {
  font-size: 1em;
  /* Align vertically by making the line height the same as the control bar *///
  line-height: 3em;
}
.video-js .vjs-current-time { float: left; }
.video-js .vjs-duration { float: left; }
.video-js .vjs-remaining-time { display: none; float: left; }
.vjs-time-divider { float: left; line-height: 3em; }
