.video-js .vjs-mute-control {
  cursor: pointer;
  @include flex(none);
  @extend .vjs-icon-volume-high;
  // padding here is for IE < 9, it doesn't do width: auto from
  // another style correctly
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
}

.video-js .vjs-mute-control.vjs-vol-0 {
  @extend .vjs-icon-volume-mute;
}
.video-js .vjs-mute-control.vjs-vol-1 {
  @extend .vjs-icon-volume-low;
}
.video-js .vjs-mute-control.vjs-vol-2 {
  @extend .vjs-icon-volume-mid;
}

.video-js .vjs-volume-control {
  width: auto;
  margin-right: 1em;
  @include flex(none);
  @include display-flex(center);

  // var needed due to comma
  $transition-property: height 0.4s, opacity 0.4s, margin-right 0.4s;
  @include transition($transition-property)
}

.video-js .vjs-volume-control.vjs-control.vjs-volume-vertical {
  left: 0.6em;
  bottom: 3em;
  position: absolute;
}

.video-js .vjs-volume-panel {
  width: auto;
  @include flex(none);
  @include display-flex(center);
}

.video-js .vjs-volume-bar {
  margin: 1.35em 0.45em;
}

.vjs-volume-bar.vjs-slider-horizontal {
  width: 5em;
  height: 0.3em;
}

.vjs-volume-bar.vjs-slider-vertical {
  width: 0.3em;
  height: 5em;
  margin: 1.35em auto;
}

.video-js .vjs-volume-level {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: $primary-foreground-color;

  @extend .vjs-icon-circle;

  // Volume handle
  &:before {
    position: absolute;
    font-size: 0.9em; // Doing this to match the handle on play progress.
  }
}

.vjs-slider-vertical .vjs-volume-level {
  width: 0.3em;

  // Volume handle
  &:before {
    top: -0.5em;
    left: -0.3em;
  }
}
.vjs-slider-horizontal .vjs-volume-level {
  height: 0.3em;

  // Volume handle
  &:before {
    top: -0.3em;
    right: -0.5em;
  }
}

.video-js .vjs-volume-panel.vjs-volume-panel-vertical {
  width: 4em;
}

// Assumes volume starts at 1.0.
.vjs-volume-bar.vjs-slider-vertical .vjs-volume-level {
  height: 100%;
}

.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
  width: 100%;
}

.video-js .vjs-volume-vertical {
  width: 2.9em;
  height: 8em;
  bottom: 5.5em;
  left: -3.5em;

  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);
}

.video-js .vjs-volume-horizontal .vjs-menu {
  left: -2em;
}
