.video-js .vjs-mute-control,
.video-js .vjs-volume-menu-button {
  cursor: pointer;
  @include flex(none);
  @include order(8);
}
.video-js .vjs-mute-control:before,
.video-js .vjs-volume-menu-button:before {
  content: $icon-volume-high;
}
.video-js .vjs-mute-control.vjs-vol-0:before,
.video-js .vjs-volume-menu-button.vjs-vol-0:before {
  content: $icon-volume-mute;
}
.video-js .vjs-mute-control.vjs-vol-1:before,
.video-js .vjs-volume-menu-button.vjs-vol-1:before {
  content: $icon-volume-low;
}
.video-js .vjs-mute-control.vjs-vol-2:before,
.video-js .vjs-volume-menu-button.vjs-vol-2:before {
  content: $icon-volume-mid;
}

.video-js .vjs-volume-control {
  width: 5em;
  @include flex(none);
  @include order(9);
  @include display-flex(center);
}
.video-js .vjs-volume-bar {
  width: 5em;
  height: 0.3em;
}

.video-js .vjs-volume-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.3em;
  /* assuming volume starts at 1.0 */
  width: 100%;

  background-color: $primary-text;
}
.video-js .vjs-volume-bar .vjs-volume-handle {
  width: 0.5em;
  height: 0.5em;
  /* Assumes volume starts at 1.0. If you change the size of the
  handle relative to the volume bar, you'll need to update this value
  too. */
  left: 4.5em;
}

.video-js .vjs-volume-handle:before {
  font-size: 0.9em;
  top: 0.1em;

  width: 1em;
  height: 1em;
}

/* The volume menu button is like menu buttons (captions/subtitles) but works
a little differently. It needs to be possible to tab to the volume slider
without hitting space bar on the menu button. To do this we're not using
display:none to hide the slider menu by default, and instead setting the
width and height to zero. */
.video-js .vjs-volume-menu-button .vjs-menu {
  display: block;
  width: 0;
  height: 0;
  border-top-color: transparent;
}

.video-js .vjs-volume-menu-button .vjs-menu .vjs-menu-content {
  height: 0;
  width: 0;
}

.video-js .vjs-volume-menu-button:hover .vjs-menu,
.video-js .vjs-volume-menu-button .vjs-menu.vjs-lock-showing {
  border-top-color: rgba(7, 40, 50, 0.5); /* Same as ul background */
}

.video-js .vjs-volume-menu-button:hover .vjs-menu .vjs-menu-content,
.video-js .vjs-volume-menu-button .vjs-menu.vjs-lock-showing .vjs-menu-content {
  height: 2.9em;
  width: 10em;
}
