.vjs-menu-button-popup .vjs-menu {
  display: none;
  position: absolute;
  bottom: 0;
  width: 10em;
  left: -3em; // (Width of vjs-menu - width of button) / 2
  height: 0em;
  margin-bottom: 1.5em;
  border-top-color: rgba($primary-background-color, $primary-background-transparency); // Same as ul background
}

// Button Pop-up Menu
.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);

  position: absolute;
  width: 100%;
  bottom: 1.5em; // Same bottom as vjs-menu border-top
}

@media (min-width: 321px) and (max-width: 425px) { // small
  .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    max-height: 100px;
  }
}

@media (min-width: 426px) and (max-width: 768px) { // medium
  .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    max-height: 150px;
  }
}

@media (min-width: 769px) and (max-width: 1440px) { // large
  .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    max-height: 275px;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) { // x-large
  .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    max-height: 350px;
  }
}

@media (min-width: 2561px) { // huge
  .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    max-height: 400px;
  }
}

.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu,
.vjs-menu-button-popup .vjs-menu.vjs-lock-showing {
  display: block;
}
