@layer base.theme, base.preset, base.preferences;

@layer base.theme {
  .media-skin[data-theme="neutral"] {
    --media-control-corner-shape: squircle;
    --media-control-radius: calc(var(--media-spacing) * 2);
    --media-control-size: calc(var(--media-spacing) * 9);
    --media-controls-radius: calc(var(--media-spacing) * 3);
    --media-popover: oklch(0 0 0 / 0.5);
    --media-border: oklch(1 0 0 / 0.1);
    --media-shadow-surface: 0 1px 2px oklch(0 0 0 / 0.2);
    --media-shadow-thumb: 0 0 0 1px rgb(0 0 0 / 0.15), 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
    --media-text-shadow-dialog: 0 1px 0 rgb(0 0 0 / 0.5);
    --media-backdrop-filter-dialog: blur(16px) saturate(120%);
    --media-shadow-tooltip:
      0 0 0 1px var(--media-border), 0 4px 6px -1px oklch(0 0 0 / 0.2), 0 2px 4px -2px oklch(0 0 0 / 0.2);
    --media-duration-dialog: var(--media-duration);
    --media-duration-indicator: 400ms;
    --media-hidden-offset: 100%;
    --media-hidden-indicator-offset: -100%;
    --media-menu-item-radius: calc(var(--media-spacing) * 1.5);
    --media-popover-boundary-offset: calc(var(--media-spacing) * 2);
    --media-popover-side-offset: calc(var(--media-spacing) * 5);
    --media-popup-radius: calc(var(--media-spacing) * 2.5);
    --media-popup-translate-distance: calc(var(--media-spacing) * 2);
    --media-dialog-width: 100%;
    --media-dialog-max-width: calc(var(--media-spacing) * 64);
    --media-slider-preview-label-offset: calc(var(--media-spacing) * 5);
    --media-video-border-radius: var(--media-border-radius, 12px);
  }
}
