body {
    color: #333;
    /*margin: 6em;*/
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 1em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

.sidenav {
    position: fixed;
    height: 100%;
    right: 1em;
    max-width: 18%;
    display: inline-block;
    font-size: .7em;
    border: none;
    border-left: 1px solid #DDD;
}

.sidenav-list {
    list-style-type: none;
}
.sidenav-list>li {
    margin-bottom: .6em;
}
.main {
    position: absolute;
    right: 25%;
    padding-bottom: 40px;
    display: inline-block;
    max-width: 70%;
}
.footer {
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: .2em;
    background-color: #EEE;
}

@media (max-width: 700px) {
  .member-index {
    display: none;
  }
  .side-nav {
    float: none;
  }
}

a {
    color: #437ABE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin-left: -1em;
}

h1 {
    border-bottom: 1px #CCC solid;
    font-size: 2.5em;
}
h2 {
    border-bottom: 1px #DDD solid;
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

#memberIndex h4 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

div {
    border-bottom: 1px #DDD solid;
    font-size: 1em;
}

pre {
    background-color: #FDF6E3;
    font-size: .8em;
    margin-bottom: 1.3rem;
    padding: .5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    border-left: 5px solid rgb(99,99,99);
    -webkit-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
    -moz-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
    box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
}
code {
    font-size: 1em;
    font-family: source-code-pro, Monaco, Consolas, Menlo, "Lucida Console", monospace;
    border: none;
}

table {
    border-collapse: collapse;
    border: 1px #CCC solid;
    padding: 0;
}


th {
    background-color: #F4F3EC;
    border: 1px #CCC solid;
    margin: 0;
    padding: .5em;
}

td {
    border: 1px #DDD solid;
    margin: 0;
    padding: .5em;
}

.side-nav {
    float: right;
    width: 15%;
    padding-left: 3em;
    margin-left: 2em;
    margin-right: 1em;
    border: none;
}
.side-nav div {
    border: none;
}

.side-nav h2, .side-nav h3 {
    margin-left: 0;
}
#main {
    width: 70%;
}

div.section {
    border: none;
}
.description {
    border: none;
}

.deprecated {
    color: #990001;
}

.legacydocsnote {
    background-color: #ffdddd;
    border: 2px solid #ff0000;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    width: 80%;
}

.legacydocsnote::before {
    content: "⚠️";
    font-size: 200%;
    vertical-align: middle;
}