/* Reset - http://developer.yahoo.com/yui/3/cssreset/
---------------------------------------------------------*/
html{ color:#000; background:#FFF; }
body { line-height: 1; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,label,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
li { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit; }
input,textarea,select { *font-size:100%; }
legend { color:#000; }

/* Base - http://developer.yahoo.com/yui/3/cssbase/
---------------------------------------------------------*/
h1 { font-size:138.5%; }
h2 { font-size:123.1%; }
h3 { font-size:108%; }
h1,h2,h3 { margin:0 0 1em; }
h1,h2,h3,h4,h5,h6,strong { font-weight:bold; }
abbr,acronym { border-bottom:1px dotted #000; cursor:help; }
em { font-style:italic; }
blockquote,ul,ol,dl { margin-bottom:1em; }
ol,ul,dl { margin-left:2em; }
ol li { list-style:decimal outside; }
ul li { list-style:disc outside; }
dl dd { margin-left:1em; }
th,td { border:1px solid #000; padding: 0; }
th { font-weight:bold; text-align:center; }
caption { margin-bottom:.5em; text-align:center; }
p,fieldset,table,pre { margin-bottom:1em; }
input[type=text],input[type=password],textarea { width:12.25em; *width:11.9em; background-color: #fff; }

/* Fonts - http://developer.yahoo.com/yui/3/cssfonts/
---------------------------------------------------------*/
html { font:13px/1.231 arial,helvetica,clean,sans-serif; *font-size:small; *font:x-small; }
select,input,button,textarea { font:119% arial,helvetica,clean,sans-serif; }
table { font-size:inherit; font:100%; }
pre,code,kbd,samp,tt { font-family:monospace; *font-size:108%; line-height:100%; }

/* Clear Fix - http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
---------------------------------------------------------*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */