// Text, icons, hover states
$primary-foreground-color: #fff !default;
$primary-foreground-color-svg: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(107%) contrast(104%);

// Control backgrounds (control bar, big play, menus)
$primary-background-color: #2B333F !default;
$primary-background-color-svg: invert(14%) sepia(7%) saturate(2512%) hue-rotate(177deg) brightness(93%) contrast(82%);
$primary-background-transparency: 0.7 !default;

// Hover states, slider backgrounds
$secondary-background-color: lighten($primary-background-color, 33%) !default;
$secondary-background-transparency: 0.5 !default;

// Avoiding helvetica: issue #376
$text-font-family: Arial, Helvetica, sans-serif !default;

// Using the '--' naming for component-specific styles
$big-play-button--border-size: 0.06666em !default;
$big-play-button--width: 3em !default;
$big-play-button--line-height: 1.5em !default;
$big-play-button--height: $big-play-button--line-height + ($big-play-button--border-size * 2) !default;
$big-play-button--transparency: 0.8 !default;
