// Text, icons, hover states
$primary-foreground-color: #fff;

// Control backgrounds (control bar, big play, menus)
$primary-background-color: #2B333F !default;
$primary-background-transparency: 0.7 !default;

// Hover states, slider backgrounds
$secondary-background-color: lighten($primary-background-color, 33%) !default;
$secondary-background-transparency: 0.5 !default;

$text-font-family: Arial, Helvetica, sans-serif !default;

// Using the '--' naming for component-specific styles
$big-play-button--width: 3em !default;
$big-play-button--height: 1.5em !default;
$big-play-button--transparency: 0.8 !default;
