$primary-text: #fff;
$secondary-text: #F4A460; // currently just used for visited links in errors and such.

$primary-bg: #000;
$secondary-bg: lighten($primary-bg, 35%);

$icon-font-family: 'VideoJS';
$text-font-family: Arial, sans-serif;
$base-font-size: 10px;
