@import "variables";
@import "utilities";

@import "components/icons";
@import "components/layout";
@import "components/big-play";
@import "components/control-bar";
@import "components/control";
@import "components/progress";
@import "components/slider";
@import "components/volume";
@import "components/menu";
@import "components/poster";
@import "components/live";
@import "components/time";
@import "components/play-pause";
@import "components/text-track";
@import "components/fullscreen";
@import "components/playback-rate";
@import "components/error";
@import "components/loading";
@import "components/captions";
@import "components/chapters";
@import "components/subtitles";
@import "components/adaptive";
@import "components/captions-settings";
