.focusable_squares {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 640px;
    background-color: lightgrey;
    padding: 1rem;
    box-sizing: border-box;
}

.focusable_squares_title {
    text-align: center;
    width: 640px;
}