.demo-video-player media-container {
  position: relative;
}

.demo-video-player media-container video {
  width: 100%;
}

.demo-video-player demo-play-toggle {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.media-play-button {
  padding-block: 8px;
  padding-inline: 20px;
  font: inherit;
  color: black;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  backdrop-filter: blur(10px);
}

.media-play-button .paused {
  display: none;
}

.media-play-button .playing {
  display: none;
}

.demo-video-player demo-play-toggle[data-paused] .paused {
  display: inline;
}

.demo-video-player demo-play-toggle:not([data-paused]) .playing {
  display: inline;
}
